# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[Makefile]
indent_style = tab

[*.js]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2

[*.scss]
indent_style = space
indent_size = 2

[{package.json,.travis.yml,.gitlab-ci.yml}]
indent_style = space
indent_size = 2
