@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(
    at top left,
    rgb(40, 40, 40),
    rgb(20, 20, 20) 100%
  );
  background-repeat: no-repeat;
  color: white;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

p {
  @apply my-6;
}

.text-center-main {
  @apply w-3/6 m-auto text-center;
}

.infobox {
  @apply text-white
  /* grid grid-cols-3 gap-4 p-8 */
  shadow-2xl text-center;
}


@media screen and (max-width: 640px){
  #infobox{
    flex-wrap: wrap;
    flex-direction: column;
  }
}